body {
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.tarjeta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    border: 2px solid orange;
    box-shadow: 2px 2px 8px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times;
}

.pie {
    text-align: center;
}

.pie-boton {
    font-size: 30px;
    background-color: coral; 
}

h1{
    text-align: center;
}